@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");


.nav {

}
 .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .nav-btn {
    margin-top: 1%;
}
.navbar .navbar-collapse {
    text-align: center;
    font-size: 18px;
    width: 47%;
}

.navbar .navbar-center {
    position: absolute;
    margin-left: 39.8%;
    margin-top: 1%;
    text-align: center;
    font-size: 22px;
}

.nav-btn li a {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-btn li.a {
    color: black;
}
.nav-btn:hover li.a {
    
}

.container {
    font-family: 'Ubuntu', sans-serif;
    margin:auto;
}

.image-wrapper {
    display: inline-block !important;
}

.image-wrapper img {
    border: solid white;
    border-radius: 8px;
    margin: 5px;
    background-color: transparent;
}

.image-wrapper:hover img {
    transition: 0.5s;
    opacity: 0.5;
}

.image-wrapper-series {
    display: inline-block !important;
}
.image-wrapper-series img {
    border: solid white;
    border-radius: 8px;
    margin: 5px;
    background-color: transparent;
}

.image-wrapper-series:hover img {
    transition: 0.5s;
    opacity: 0.9;
}

.image-wrapper p {
    display: none;
    position: absolute;
    user-select: none;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    text-align: center;
    width: 10%;
    color: black;
    margin-top: 12%;
    margin-left: 8%;
}

.image-wrapper:hover p {
    display: inline-block;
}

.aboutme {
    text-align: center;
}
.aboutme img {
    border-radius: 8px;
    width: 55em;
}

.page-section {
    width: 100%;
    min-height: 600px;
    padding: 50px 0;
    border-bottom: 10px solid #fff;
}
.page-section-text {
    background-image: url('https://www.pixeden.com/media/k2/galleries/220/002-wood-melamine-subttle-pattern-background-pat.jpg');
}
.page-section h1 {
    font-size: 4em;
    margin: 40px 0;
}
.page-section h1 span {
    font-weight: 200;
}
.page-section p {
    text-indent: 50px;
    text-align: justify;
    font-size: 18px;
    font-weight: 200;
    margin: 50px;
}

body.modal-open-noscroll {
  margin-right: 0!important;
}
.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0!important;
}

.modal-dialog {
    width: 670px;
    margin:auto;
}
.modal {
    margin:auto;

}
.modal-content img {
    height: 650px;
    width: 650px;
    border-radius: 5px;
}

.footer .container {
    display: inline-block;
    font-size: 24px;
    margin-right: 11%;
}

.hseries {
    text-align: center;
}

.w3-button {
    position: absolute;
    font-size: 20px;
    background-color: transparent;
}
.w3-button:hover {
    display: inline-block;
}
.w3-display-left {
    margin-top: 40%;
}
.w3-display-right {
    margin-left: 94.5%;
    margin-top: 40%;
}